<!DOCTYPE html>
<html>
  <head>
    <title>{{site.title}} | {{page.title}}</title>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="shortcut icon" type="image/png" href="/favicon.png">

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/foundation.min.css">

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">

  </head>
  <body>
    {{content}}
  </body>
</html>
